# Data Wrangling Task  
#### Description
There are two sets of files named covid* and worldwide*. Both sets of files have two  versions at two different times of the day: around 11pm and early in the morning.

Task 1: Organize the files into 4 groups.
<br> Group 1 :- covid* 11pm+
<br> Group 2 :- world* 11pm+
<br> Group 3 :- covid* other time
<br> Group 4 :- world*  other time

Task 2: Using Group 2, how many cases did the US and Germany each record in April?
<br> Task 3: Using Group 3, how many cases did Italy and Russia each record in April?
<br>File Link: ​https://drive.google.com/file/d/1lJslj1_gK2sO7ymge-Vc_rDYhP_qis43/view?usp=sharing
<br> Submission Form: ​https://forms.gle/XLUC8fLCg34w3cyY6
<br> You are to zip your Group 1, 2, 3, 4 and your notebooks and paste the link in this form    Note:  Ask questions for clarification where need be.
<br>CREDIT: Paschal C.

##### Libraries to Be Used for the Whole tasks are
OS module - for creating a directory to store all the Files after Grouping
<br> shutil - for moving files to other directories
<br> Pandas - for creating DataFrames
<br> Glob - for extracting the files from the current Directory
<br> datetime - for converting strings to datetime objects

In [1]:
%matplotlib inline
import os
import shutil
import warnings
import pandas as pd
from glob import glob
import datetime as date
from datetime import datetime

In [2]:
warnings.filterwarnings("ignore")

### TASK 1:

In executing this Task, the following are the steps I took:
<br> 1. Extracted all the files with suffix '.csv' into a List called covid_data,
<br> 2. Extracted the time attributed to each covid data files and converted them to time Object for time identification,
<br> 3. Extracted the time object that suits the different Group,
<br> 4. Extracted all the covid data that matches the different time object into their respective file list,
<br> 5. Defined a folderCreation() function that creates a directory and moves the respective files to the different directories.

This Ends the First Task.

In [3]:
#Extracting all the csv file into a list called Covid_data
covid_data = [files for files in glob("*.csv")]

In [4]:
print(f'There are {len(covid_data)} covid-19 data files available')

There are 181 covid-19 data files available

In [5]:
#extracting the time attribute for each files
time_attributes = [i.split()[1].replace('.csv', '') for i in covid_data ]

In [6]:
#Convert the time attributes to time object
time_object = [datetime.strptime(time_str, '%H-%M-%S').time() for time_str in time_attributes]

In [7]:
#Extracting the time that suits the two time group attribute
eleven_plus = [i for i in time_object if i > date.time(23, 0, 0)]
other_time = [i for i in time_object if i < date.time(23, 0, 0)]

In [8]:
#Creating a Group List of the covid Files
group1_files = list(set(i for i in covid_data for j in eleven_plus if i.startswith('covid') and j.strftime('%H-%M-%S') in i))
group2_files = list(set(i for i in covid_data for j in eleven_plus if i.startswith('world') and j.strftime('%H-%M-%S') in i))
group3_files = list(set(i for i in covid_data for j in other_time if i.startswith('covid') and j.strftime('%H-%M-%S') in i))
group4_files = list(set(i for i in covid_data for j in other_time if i.startswith('world') and j.strftime('%H-%M-%S') in i))

In [9]:
def folderCreation(Path, directory_name, List_of_files, num):
    ''' 
    This function creates a directory and moves the files to their directory.
    
    Inputs:
    
    Path : the Directory where the file will be created
    directory_name : the Name representing the Folder to be created
    
    List_of_files : this contains the Group of files to be Saved in the directory Created
    num: the Group number for the file name
    
    '''
    path = Path + '\\' + directory_name + str(num)
    #Creating the new File Directory
    destination = os.mkdir(path)
    
    #Moving the files to the new_path
    for i in List_of_files:
        source = os.getcwd() + '\\' + i
        shutil.move(source, path)
    
    return path

#### Distributing the Grouped covid Files to their respective folders.

In [10]:
group1_path = folderCreation(Path =r'C:\Users\hp 6730\py_lab\Pascal Challenge' , directory_name = 'Group', List_of_files = group1_files, num = 1)
group1_path

'C:\\Users\\hp 6730\\py_lab\\Pascal Challenge\\Group1'

In [11]:
group2_path = folderCreation(Path =r'C:\Users\hp 6730\py_lab\Pascal Challenge' , directory_name = 'Group', List_of_files = group2_files, num = 2)
group2_path

'C:\\Users\\hp 6730\\py_lab\\Pascal Challenge\\Group2'

In [12]:
group3_path = folderCreation(Path =r'C:\Users\hp 6730\py_lab\Pascal Challenge' , directory_name = 'Group', List_of_files = group3_files, num = 3)
group3_path

'C:\\Users\\hp 6730\\py_lab\\Pascal Challenge\\Group3'

In [13]:
group4_path = folderCreation(Path =r'C:\Users\hp 6730\py_lab\Pascal Challenge' , directory_name = 'Group', List_of_files = group4_files, num = 4)
group4_path

'C:\\Users\\hp 6730\\py_lab\\Pascal Challenge\\Group4'

In [14]:
print(f'Group 1 folder contains {len(group1_files)} covid files.')
print(f'Group 2 folder contains {len(group2_files)} covid files.')
print(f'Group 3 folder contains {len(group3_files)} covid files.')
print(f'Group 4 folder contains {len(group4_files)} covid files.')

Group 1 folder contains 42 covid files.
Group 2 folder contains 43 covid files.
Group 3 folder contains 51 covid files.
Group 4 folder contains 45 covid files.

We Have successfully distributed the csv files to their various Folders as described above.

### TASK 2:

For Task-2 we will be Using Group 2 folder to asnwer the Question;
> <br> How many Cases did the US and Germany each record in April?

For this Task we will be extracting the files for the Month of APRIL.

In [15]:
world_april = [i for i in group2_files if 'apr' in i.lower()]
#Sorting the April world data list in Ascending order
world_april.sort()

  For this Task We are Only Concern about US and Germany's records. So it won't be necessary merging or Concatenating all the files in the directory. 
<br> In addition to that, Our Target Variable is the Number of Covid Cases in US and Germany for April, so we will be Calculating the Cases based on the Total Confirmed Today and Total Confirmed.

#### DATA WRANGLING

The first thing we need do is to Have an idea of How our Data looks.
<br> We will be reading some of the Data to understand the Data we are working on.

In [16]:
#This is the path to Group Two Folder
sample_file = group2_path + '\\'
df = pd.read_csv(sample_file + world_april[0])
#Extracting random samples from the covid file
df.sample(5)

,Country,Total confirmed cases,Total deaths,Confirmed recoveries,Cases confirmed today,Deaths today,Recoveries confirmed today
71,bulgaria,457,10,25,35,0,5
140,togo,39,2,17,3,0,7
11,netherlands,"14,757","1,339",251,"1,061",164,0
3,germany,"84,794","1,107","22,440","6,813",176,"3,740"
112,guadeloupe,128,6,24,3,0,0

In [17]:
#This is the path to Group Two Folder
sample_file = group2_path + '\\'
df = pd.read_csv(sample_file + world_april[1])
#Extracting random samples from the covid file
df.sample(5)

,Country,Total confirmed cases,Total deaths,Confirmed recoveries,Cases confirmed today,Deaths today,Recoveries confirmed today
121,trinidad-and-tobago,98,6,1,4,1,0
139,togo,40,3,17,1,1,0
167,curaçao,11,1,3,0,0,0
85,réunion,321,0,40,13,0,0
84,taiwan,348,5,50,9,0,0

In [18]:
df.dtypes

Country                       object
Total confirmed cases         object
Total deaths                  object
Confirmed recoveries          object
Cases confirmed today         object
Deaths today                  object
Recoveries confirmed today    object
dtype: object

In [19]:
#This is the path to Group Two Folder
sample_file = group2_path + '\\'
df = pd.read_csv(sample_file + world_april[8])
#Extracting random samples from the covid file
df.head()

,Country,Total confirmed,Total_confirmed_today,Total_deaths,Total_deaths_today,Total_Recoveries,Total_Recoveries_today,Active_confirmed,Critical,Mortality_close,Mortality_confirmed,Total_tests,Total_tests_today
0,united-states,"643,508","31,431","28,506","2,518","48,679","10,004","566,323","13,487 (2%)","566,323",4%,"3,258,424","193,405"
1,spain,"177,644","3,584","18,708",453,"70,853","3,349","88,083","7,371 (8%)","88,083",11%,"650,755","50,755"
2,italy,"165,155","2,667","21,645",578,"38,092",962,"105,418","3,079 (3%)","105,418",13%,"1,117,404","43,715"
3,france,"147,863","4,560","17,167","1,438","30,955","2,150","99,741","6,457 (6%)","99,741",12%,"333,807",0
4,germany,"134,753","2,543","3,804",309,"72,600","4,400","58,349","4,288 (7%)","58,349",3%,"1,728,357","410,470"

In [20]:
df.dtypes

Country                   object
Total confirmed           object
Total_confirmed_today     object
Total_deaths              object
Total_deaths_today        object
Total_Recoveries          object
Total_Recoveries_today    object
Active_confirmed          object
Critical                  object
Mortality_close           object
Mortality_confirmed       object
Total_tests               object
Total_tests_today         object
dtype: object

#### Data Cleaning
Observing all that was done in the last Five Cells, we will need to do the following task before going into the main Task. These tasks are;
<br> * We need to Extract the Country and the Total confirmed today columns into a list from each World wide April Datasets
<br> * We will also need to rename the Total confirmed today column because of the variation in the Name of the Column in the different csv files
<br> * We need to convert the Total confirmed today to an integer data type for computation
<br> * Also need to concatenate the extracted DataFrames to a DataFrame
Taking a Look at the data types, we can see that the Dataframe contains strings,

In [21]:
def DataFrameExtraction(datasets, country, source):
    '''
    This function accepts
    datasets : A list of the April Covid data captured at 23pm+
    country : The country of Interest which is either United States of Geremany
    source : The path of the directory where the datasets are stored
    
    and,
    Returns:
    A Concatenated DataFrame of all the DataFrame with Clean data
    
    '''
    global country_record
    
    country_record = []
    path = source + '\\'
    
    for datum in datasets:
        #Reading the csv file
        df = pd.read_csv(path + datum)
        #converting the Column names to lower case and also replacing spaces with '_'
        df.columns = [i.lower().replace(' ', '_') for i in df.columns]
        #selecting the Country of Choice
        df = df[df['country'] == country]
        #Since our target Variable has two Possible Names Total confirmed today cases confirmed today,
        #We will use a try and except clause
        try:
            df = df[['country', 'cases_confirmed_today', 'total_confirmed_cases']]
            #creating a date column from date specified in the csv file name
            df['date'] = datum.split()[0].split('_')[1]
            country_record.append(df)
        except:
            df = df[['country', 'total_confirmed_today','total_confirmed']]
            #creating a date column from date specified in the csv file name
            df['date'] = datum.split()[0].split('_')[1]
            #Renaming the column names to be in the same text format
            df.columns = ['country', 'cases_confirmed_today', 'total_confirmed_cases', 'date']
            country_record.append(df)
            
    #Concatenating the data frames, reseting the index and also dropping previous indexing
    c_df = pd.concat(country_record).reset_index(drop = True)
    
    #Seting the date column to be the index
    c_df = c_df.set_index('date')
    #Converting the cases_confirmed_today to integers and also removing ',' from the values to enable calculation
    c_df['total_confirmed_cases'] = [int(value.replace(',','')) for value in c_df['total_confirmed_cases']]
    c_df['cases_confirmed_today'] = [int(value.replace(',','')) for value in c_df['cases_confirmed_today']]
                                         
    return c_df

###### How many Cases did the US and Germany each record in April?

We will have to Concatenate United-states and USA which are specified under country columns since they are referring to the same US as it was referred to as in the Task.
<br> After Creating the DataFrame, to answer the Main Task Questions;
<br> We will have to extract the Maximum value, since the Total confirmed cases column is cummulative and the first Entry made for the month of April and subtract the first entry from the Max (which represents the last entry for the month) Value for US while for Germany we will find the Max Value and Minimum Value of the Total confirmed cases and Subtract the Minimum value from the Maximum value to get the Total Number of Cases for the Month of April for Germany.

In [22]:
#US DataFrame
US_df = DataFrameExtraction(datasets = world_april, country = 'united-states', source = group2_path)
USA_df = DataFrameExtraction(datasets = world_april, country = 'USA', source = group2_path)
#Concatenating US and USA since they both seem to represent US
US = pd.concat([US_df, USA_df])
#This sorts the DataFrame by the date the data was recorded
US = US.sort_index()

In [23]:
#GERMANY DataFrame
GM_df = DataFrameExtraction(datasets = world_april, country = 'germany', source = group2_path)

In [24]:
US.head()

                   country  cases_confirmed_today  total_confirmed_cases
date
02-Apr-2020  united-states                  28260                 242899
03-Apr-2020  united-states                  31263                 275493
04-Apr-2020  united-states                  31643                 308608
07-Apr-2020            USA                      1                    166
07-Apr-2020            USA                     41                    164

In [25]:
GM_df.head()

             country  cases_confirmed_today  total_confirmed_cases
date
02-Apr-2020  germany                   6813                  84794
03-Apr-2020  germany                   6365                  91159
04-Apr-2020  germany                   4933                  96092
13-Apr-2020  germany                   2218                 130072
14-Apr-2020  germany                   2138                 132210

In [26]:
#the index 0 represents the first date recorded in April and index 2 represents the total_confirmed_cases corresponding to that date
US_April_cases = US['total_confirmed_cases'].max() - US.iloc[0, 2]
GM_April_cases = GM_df['total_confirmed_cases'].max() - GM_df['total_confirmed_cases'].min()
print(f'Total Covid Cases Recorded for US for the Month of April is {US_April_cases:,}')
print(f'Total Covid Cases Recorded for Germany for the Month of April is {GM_April_cases:,}')

US_daily_cases = US['cases_confirmed_today'].sum()
GM_daily_cases = GM_df['cases_confirmed_today'].sum()
print()

print(f'Total Covid Cases Recorded per day for US in the Month of April is {US_daily_cases:,}')
print(f'Total Covid Cases Recorded per day for Germany in the Month of April is {GM_daily_cases:,}')

Total Covid Cases Recorded for US for the Month of April is 851,822
Total Covid Cases Recorded for Germany for the Month of April is 78,215

Total Covid Cases Recorded per day for US in the Month of April is 819,708
Total Covid Cases Recorded per day for Germany in the Month of April is 45,008

#### TASK 2.
> <br> How many cases did Italy and Russia each record in April?

In [27]:
#Extracting Group 3 files for covid April data
covid_april = [i for i in group3_files if 'apr' in i.lower()]
#Sorting the April world data list in Ascending order
covid_april.sort()

Reading a Sample file for us to see the Data Format.

In [28]:
df = pd.read_csv(group3_path + '\\'+ covid_april[0])
df.head()

,countries,infected,deaths,recovered,active,death_rate,recovery_rate
0,United States,244190,5883,10400,227907,2.4,4.3
1,Italy,115242,13915,18278,83049,12.1,15.9
2,Spain,112065,10348,26743,74974,9.2,23.9
3,Germany,84794,1107,22440,61247,1.3,26.5
4,China,82413,3322,76546,2545,4.0,92.9

In [29]:
df = pd.read_csv(group3_path + '\\'+ covid_april[5])
df.head()

,countries,infected,infected_today,deaths,deaths_today,recovered,recovered_today,active,critical,tests,death_rate,recovery_rate
0,United States,369522,2916,11013,154,19874,301,338635,9015,1942470,3.0,5.4
1,Spain,140510,3835,13798,457,43208,2771,83504,7069,355000,9.8,30.8
2,Italy,132547,0,16523,0,22837,0,93187,3898,721732,12.5,17.2
3,Germany,104199,825,1842,32,36081,7381,66276,4895,918460,1.8,34.6
4,France,98010,0,8911,0,17250,0,71849,7072,224254,9.1,17.6

In [30]:
df = pd.read_csv(group3_path + '\\'+ covid_april[10])
df.head()

,countries,infected,infected_today,deaths,deaths_today,recovered,recovered_today,active,critical,tests,death_rate,recovery_rate
0,United States,469369,2400,16709,73,25937,621,426723,10011,2379512,3.6,5.5
1,Spain,157022,3800,15843,396,55668,3503,85511,7371,355000,10.1,35.5
2,Italy,143626,0,18279,0,28470,0,96877,3605,853369,12.7,19.8
3,Germany,118235,0,2607,0,52407,0,63221,4895,1317887,2.2,44.3
4,France,117749,0,12210,0,23206,0,82333,7066,333807,10.4,19.7

In [31]:
df.dtypes

countries           object
infected             int64
infected_today       int64
deaths               int64
deaths_today         int64
recovered            int64
recovered_today      int64
active               int64
critical             int64
tests                int64
death_rate         float64
recovery_rate      float64
dtype: object

#### DATA CLEANING
We can see that the Data Frame Structure is different from Group 2 data structure, so we will have to go through a similar Data Cleaning.
<br> We also need to Note that not all the files have infected today column so, it will be better for us to use infected column since it is dorminant in all files.

In [32]:
def DataFrame_Extraction(datasets, country, source):
    '''
    This function accepts
    datasets : A list of the April Covid data captured at 23pm+
    country : The country of Interest which is either United States of Geremany
    source : The path of the directory where the datasets are stored
    
    and,
    Returns:
    A Concatenated DataFrame of all the DataFrame with Clean data
    
    '''
    global country_record
    
    country_record = []
    path = source + '\\'
    
    for datum in datasets:
        #Reading the csv file
        df = pd.read_csv(path + datum)
        #converting the Column names to lower case and also replacing spaces with '_'
        df.columns = [i.lower().replace(' ', '_') for i in df.columns]
        #selecting the Country of Choice
        df = df[df['countries'] == country]
        
        df = df[['countries', 'infected']]
        #creating a date column from date specified in the csv file name
        df['date'] = datum.split()[0].split('_', 3)[-1]
        country_record.append(df)
        
    #Concatenating the data frames, reseting the index and also dropping previous indexing
    c_df = pd.concat(country_record).reset_index(drop = True)
    
    #Seting the date column to be the index
    c_df = c_df.set_index('date')
                                         
    return c_df

##### How many cases did Italy and Russia each record in April?

To Answer this Task Question, we will follow similar approach as that of Task 2 by;
<br> Creating a DataFrame and finding the Max and Minimum value of Infected Individuals to determine the number of Covid cases recorded in Italy and Russia.

In [33]:
#ITALY DataFrame
IT = DataFrame_Extraction(datasets = covid_april, country = 'Italy', source = group3_path)

In [34]:
#RUSSIA DataFrame
RS = DataFrame_Extraction(datasets = covid_april, country = 'Russia', source = group3_path)

In [35]:
IT.head()

            countries  infected
date
03-Apr-2020     Italy    115242
04-Apr-2020     Italy    119827
05-Apr-2020     Italy    124632
05-Apr-2020     Italy    124632
07-Apr-2020     Italy    132547

In [36]:
RS.head()

            countries  infected
date
03-Apr-2020    Russia      3548
04-Apr-2020    Russia      4149
05-Apr-2020    Russia      4731
05-Apr-2020    Russia      4731
07-Apr-2020    Russia      7497

In [37]:
#Calculating the difference between the Highest infected column since the values are cummulative
IT_April_cases = IT['infected'].max() - IT['infected'].min()
RS_April_cases = RS['infected'].max() - RS['infected'].min()
print(f'Total Covid Cases Recorded in ITALY for the Month of April is {IT_April_cases:,}')
print(f'Total Covid Cases Recorded in RUSSIA for the Month of April is {RS_April_cases:,}')

Total Covid Cases Recorded in ITALY for the Month of April is 88,349
Total Covid Cases Recorded in RUSSIA for the Month of April is 102,950